PATH_BASE=C:\FE
SIGN_NAME=NOMBRE_CERTIFICADO.pfx
SIGN_PASSWORD=clave-del-certificado-pfx
POLITICA_NAME=
# Generar una propia con: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=GNwZBcKRdXyTEKfEtaikVVCZsAxt9r5mUHE-mqLNMhA=
# Generar una propia con: python -c "import secrets; print(secrets.token_urlsafe(48))"
SECRET_KEY=gX5iFnGC5cJOHBJ6LV20_ynERxptEDzthBXeI648GgGBljO-m4zKZiM_sMNnIQh7
DATABASE_URL=postgresql+psycopg2://usuario:clave@localhost:5432/InvoiceDb
